@charset "utf-8";

/* Controls size of viewpoint */
@-moz-viewport { width: device-width; scale: 1; } /* FireFox */
@-ms-viewport { width: device-width; scale: 1; } /* Internet Explorer */
@-o-viewport { width: device-width; scale: 1; } /* Opera */
@-webkit-viewport { width: device-width; scale: 1; } /* Safari & Chrome */
@viewport { width: device-width; scale: 1; } /* W3C Standard */

/* Adjusts padding so it goes on the inside */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


html {
    
/* Controls zoom of type on mobile only */
    
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
/* Shorthand:
    
margin: 40px; all four sides
margin: 40px auto; top/bottom, right/left
margin: 40px auto 0; top right/left, bottom
margin: 40px 30px 5px 10px; top right bottom left
    
Start at top go clockwise
    
Units of Measurement:
    
width = %
height = rem
type = rem
graphics = px (ex borders) */
    
/* Control the type size on mobile & desktop */    
    
    font-size: 100%; /* 100% = 16px = 1rem */
    font-family:Georgia,Times,serif;
}

img {
	width: 100%; /* images are responsive */
    display: block; 
}
    
body {
    margin: 0;
    padding: 0;
}

.masthead {
    background-color: maroon;
    overflow:hidden;
}

.logo {
        height: 4.5rem;
        width: auto; 
        margin:.5rem 5%;
    
        /* float:right */
        /* margin: .5rem auto */; 
    
}

article {
    margin: 0;
    padding: 0 5%;
    overflow:hidden;
    /* background-color: */
}

h1 {
    font-size: 5rem;
    margin: 1.5rem 0;
    line-height: 4.5rem
}

h1 + p {
    font-size: 1.25rem;
    font-weight:bold;
}
p {
    line-height:1.5rem;
    margin:0 0 1.5rem;
}

figure {
    margin:0 auto 1.5rem; /* auto in case want smaller */
    width: 100%; /* can be smaller NOT larger */
}

figcaption {
    font-size: .75rem;
    margin: .5rem 0 0;
}

footer {
    background-color:brown;
    overflow:hidden;
}

footer p {
    font-size: .75rem;
    margin:.5rem 5% 5rem;
    color:white;
}
footer a {
    color:white;
}